yfinance
streamlit
pandas
numpy
matplotlib
scikit-learn
statsmodels
pmdarima
plotly
datetime
reportlab
absl-py
aiobotocore
aiofiles
aiohttp
aioitertools
aiosignal
aiosqlite
alabaster
altair
anaconda-anon-usage
anaconda-catalogs
anaconda-client
anaconda-cloud-auth
anaconda-navigator
anaconda-project
anyio
appdirs
applaunchservices
appnope
appscript
arch
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
astroid
astropy
asttokens
astunparse
async-timeout
atomicwrites
attrs
Automat
autopep8
Babel
backcall
backports.functools-lru-cache
backports.tempfile
backports.weakref
backtrader
bcrypt
beautifulsoup4
binaryornot
black
bleach
blinker
bokeh
boltons
boto3
botocore
Bottleneck
brotlipy
cachetools
certifi
cffi
chardet
charset-normalizer
click
clikit
cloudpickle
clyent
cmdstanpy
colorama
colorcet
comm
conda
conda-build
conda-content-trust
conda-libmamba-solver
conda-pack
conda-package-handling
conda-repo-cli
conda-token
conda-verify
conda_index
conda_package_streaming
constantly
contourpy
convertdate
cookiecutter
crashtest
cryptography
cssselect
cycler
Cython
cytoolz
dask
datashader
datashape
debugpy
decorator
defusedxml
diff-match-patch
dill
distributed
Django
docopt
docstring-to-markdown
docutils
emlearn
entrypoints
ephem
et-xmlfile
executing
fastjsonschema
filelock
flake8
Flask
flatbuffers
fonttools
fpdf
fqdn
frozendict
frozenlist
fsspec
future
gast
gensim
gitdb
GitPython
glob2
gmpy2
google-auth
google-auth-oauthlib
google-pasta
greenlet
grpcio
h5py
HeapDict
holidays
holoviews
html5lib
httpstan
hvplot
hyperlink
idna
imagecodecs
imageio
imagesize
imbalanced-learn
importlib-metadata
importimportlib-resources
incremental
inflection
iniconfig
intake
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jedi
jellyfish
Jinja2
jinja2-time
jmespath
joblib
json5
jsonpatch
jsonpointer
jsonschema
jupyter
jupyter-console
jupyter-events
jupyter-ydoc
jupyter_client
jupyter_core
jupyter_server
jupyter_server_fileid
jupyter_server_terminals
jupyter_server_ydoc
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
kaleido
keras
keyring
kiwisolver
lazy-object-proxy
lazy_loader
libarchive-c
libclang
libmambapy
linkify-it-py
llvmlite
lmdb
locket
LunarCalendar
lxml
lz4
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
mistune
ml-dtypes
more-itertools
mpmath
msgpack
multidict
multipledispatch
multitasking
munkres
mypy-extensions
navigator-updater
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numexpr
numpy
numpydoc
oauthlib
openpyxl
opt-einsum
overrides
packaging
pandas
pandas-datareader
pandas-ta
pandocfilters
panel
param
parsel
parso
partd
pastel
pathlib
pathspec
patsy
pep8
pexpect
pickleshare
Pillow
pipreqs
pkce
pkginfo
pandas-ta
pandocfilters
panel
param
parsel
parso
partd
pastel
pathlib
pathspec
patsy
pep8
pexpect
pickleshare
Pillow
pipreqs
pkce
pkg
